h2 {
  color: deepskyblue;
}
.ovuong {
  background-color: antiquewhite;
  border-left: 7px solid rgb(236, 200, 55);
}
.class1 {
  margin-top: 10px;
}
p {
  margin-left: 5px;
}
.class1,
.class2,
.class3 {
  line-height: 3;
}
