*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 1440px;
    height: auto;
}
header{
    margin-top: 10px;
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50px;
    height: 40px;
}

.navbar{
    width: 1300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction, .icon-direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.direction{
    width: 450px;
    height: 30px;
    font-size: 1.4em;
    font-weight: 700;
}
.icon-direction{
    width: 100px;
    height: 24px;
    font-size: 2em;
}

.dieuhuong-diachi
{
    width: 1440px;
    height: 320px;
    background-image: url(./figma2_ná»n.jfif) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dieuhuong-diachi div{
    width: 125px;
    height: 24px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}
.dieuhuong-diachi a{
    text-decoration: none;
    color: white;
}
.chandieuhuong{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.box1{
    width: 1240px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1-1, .box1-2{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1em;
}
.box1-1{
    width: 400px;
}
.box1-2{
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.border-left{
    border-left: 1px ;
}
.span1box1{
    width: 120px;
    height: 55px;
    display: flex;
    align-items: center;
}
.span2box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 55px;
}
.span1-box1, .span2-box1{
    background-color: white;
    font-weight: 300;
}

.span1-box1{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-card{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    font-weight: 400;
}
.box-card{
    padding-top: 45px;
    width: 1240px;
    display: grid;
    flex-wrap: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-left: 10px;
}
.span2-box1{
    width: 190px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-hover{
    margin-top: 20px;
    position: relative;
    width: 285px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.img-card{
    max-width: 285px;
    width: 284px;
    height: 300px;
}
.pos-card{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-hover:hover > .pos-card{
    display: flex;
}
.b{
    margin-top: 50px;
    width: 80px;
    height: 50px;
}
.b:hover{
    background-color: #ccc;
}
.icon4{
    width: 1440px;
    height: 270px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    margin-top: 50px;
}
.con-icon4{
    width: 1335px;
    height: 70px;
    display: flex;
    justify-content: space-between;

}
.con-con{
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.st-footer{
    width: 1440px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1-footer{
    width: 1240px;
    height: 419px;
}
.div1-1-footer{
    width: 1133px;
    height: 315px;
    display: flex;
    justify-content: space-between;
}
.f1 , .f2,.f3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.f1{
    width: 285px;
    height: 200px;
}
.f2{
    width: 100px;
    height: 280px;
}
.f3{
    width: 285px;
    height: 101px;
}
.address-input{
    width: 286px;
    height: 25px;
    font-size: 1em;
}
.address-input input, .address-input button{
    border: none;
    background-color: white;
    border-bottom: 0.5px solid #ccc;
}
.a-first{
    opacity: 0.7;
    font-weight: 300;
}
.f2 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.f2-1{
    width: 68px;
    height: 312px;
}
.f2-2{
    width: 140px;
    height: 242px;
}
